@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


/* navbar */
.navbar {
  font-family: "Trebuchet MS";
  font-size: 20px;
  padding-top: 10px;
  margin-left: 20px;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navbar li {
  display: inline-block;
}

.navbarChoice {
  float: right;
  display: inline;
}

.navbarChoice a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
  margin-right: 20px;
  border-bottom: 3px solid transparent;
}

.navbarChoice a:hover {
  text-decoration: none;
  color: black;
  margin-left: 30px;
  margin-right: 20px;
  border-bottom: 3px solid #6E9BEA;
}


/* main info */
.mainInfo {
  width: 800px;
  height: auto;
  color: white;
  font-family: "Trebuchet MS";
  margin-top: 50px;

  position: relative;
}

.mainInfo .header {
  width: 800px;
  height: 300px;
  background-color: #6E9BEA;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

.mainInfo .name {
  width: 400px;

  float: right;
  text-align: center;
  padding-right: 75px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.mainInfo #profilePic {
  width: 250px;
  height: 250px;
  border: 5px solid white;

  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.mainInfo .info {
  width: 800px;
  height: 200px;
  color: black;
  background-color: white;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  display: table;
  position: relative;
  padding-top: 10px;
}

.mainInfo .synopsis {
  width: 50%;
  text-align: left;

  float: left;
  padding-left: 30px;
  display: table-column;
}

.mainInfo .basicInfo {
  width: 40%;

  float: right;
  text-align: left;
  display: table-column;
}

.mainInfo p {
  padding-left: 10px;
  margin-top: -5px;
}


/* projects */

.projects {
  width: 800px;
  border-radius: 20px;
  background-color: white;
  font-family: "Trebuchet MS";
  margin-top: 20px;
  display: table;
}

.projects h1 {
  margin-left: 30px;
  padding-top: 20px;
  color: #6E9BEA;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.projects .projectCell {
  margin-left: 30px;
  margin-bottom: 30px;
  width: 35%;
  color: white;
  background-color: #6E9BEA;
  border-radius: 20px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

/* fa - icons for social media */
.socialMedia {
  height: auto;
  margin-top: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
    background: #6E9BEA;
    color: white;
}

.fa-instagram {
  background: #6E9BEA;
  color: white;
}

.fa-linkedin {
  background: #6E9BEA;
  color: white;
}

.fa-github {
  background: #6E9BEA;
  color: white;
}
