@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
  padding-top: 70px;
  background-image: url("https://wallpaper-house.com/data/out/7/wallpaper2you_184709.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
}

/* navbar */
.navbar {
  font-family: "Trebuchet MS";
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 1);
  padding-right: 10px;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
}

.navbarChoice {
  float: right;
  display: inline;
}

.navbarChoice a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
  margin-right: 20px;
  border-bottom: 3px solid transparent;
}

.navbarChoice a:hover {
  text-decoration: none;
  color: black;
  margin-left: 30px;
  margin-right: 20px;
  border-bottom: 3px solid black;
}

.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    border: 2px solid black;
    margin-bottom: -10px;
}

/* main info */
.mainInfo {
  width: auto;
  height: auto;
  color: white;
  font-family: "Trebuchet MS";
  margin-top: 50px;

  position: relative;
}

.mainInfo .header {
  width: 85%;
  height: 300px;
  background-color: #6E9BEA;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.mainInfo .name {
  width: 50%;

  float: right;
  text-align: center;
  padding-right: 75px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.mainInfo #profilePic {
  width: 22%;
  height: auto;
  border: 5px solid white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.mainInfo .info {
  width: 85%;
  height: 200px;
  color: black;
  background-color: white;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  display: table;
  position: relative;
  padding-top: 10px;

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.mainInfo .synopsis {
  width: 50%;
  text-align: left;

  float: left;
  padding-left: 30px;
  display: table-column;
}

.mainInfo .basicInfo {
  width: 40%;

  float: right;
  text-align: left;
  display: table-column;
}

.mainInfo p {
  padding-left: 10px;
  margin-top: -5px;
}


/* projects */

.projects {
  width: 85%;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: "Trebuchet MS";
  margin-top: 20px;
  display: table;
  background-color: white;
}

.projects h1 {
  margin-left: 30px;
  padding-top: 20px;
  color: black;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.projects .projectCell {
  margin-left: 30px;
  margin-bottom: 30px;
  width: 35%;
  color: white;
  background-color: #6E9BEA;
  border-radius: 10px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

/* contact me */
.contactMe {
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  width: 85%;
  font-family: "Trebuchet MS";
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.contactMe h1 {
  margin-left: 30px;
  padding-top: 20px;
  color: black;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.contactMe input {
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  /**border-style: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);**/
  width: 50%;
}

.contactMe #descriptionInput {
  font-size: 20px;
  word-wrap: normal;
  width: 50%;
  height: 25%;
  top: 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  /**border-style: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);**/
}

.contactMe button {
  font-size: 20px;
  background-color: #6E9BEA;
  color: white;
  border-radius: 10px;
  bord
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20%;
  height: 5%;
}

/* fa - icons for social media */
.socialMedia {
  height: auto;
  margin-top: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
    background: #6E9BEA;
    color: white;
}

.fa-instagram {
  background: #6E9BEA;
  color: white;
}

.fa-linkedin {
  background: #6E9BEA;
  color: white;
}

.fa-github {
  background: #6E9BEA;
  color: white;
}






/* Specific to tutorials.html */
.tutorials {
  width: 95%;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: "Trebuchet MS";
  margin-top: 50px;
  display: table;
  background-color: white;
}

.tutorials h1 {
  margin-left: 30px;
  padding-top: 20px;
  color: black;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.tutorials .projectCell {
  margin-left: 30px;
  margin-bottom: 30px;
  width: 35%;
  color: white;
  background-color: #6E9BEA;
  border-radius: 10px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.tutorials a {
  text-decoration: none;
}

.tutorials a :hover {
  background-color: #6E9BFB;
}

.tutorialDoc {
  margin-left: 5%;
  margin-top: 30px;
}

iframe {
  position: absolute;
  width: 70%;
  height: 85%;
  align-content: center;
  border: none;
}

/* Style buttons */
.btn {
  background-color: white;
  border: none;
  color: DodgerBlue;
  width: 20%;
  height: 85%;
  margin-right: 20px;
  padding-right: 50px;
  cursor: pointer;
  font-size: 20px;
  float: right;
  align-content: center;
}

/* Darker background on mouse-over */
.btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}





/* phone media */
@media only screen and (max-width: 600px) {
  body {
    padding-top: 50px;
  }

  .navbar {
    font-family: "Trebuchet MS";
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 1);
    padding-right: 10px;
  }

  .mainInfo .header {
    width: 85%;
    min-height: 400px;
    background-color: #6E9BEA;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*position: relative;*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .mainInfo .name {
    width: 100%;

    padding-right: 0px;

    text-align: center;
    position: absolute;
    top: 80%;
    transform: translateY(%);
  }

  .mainInfo #profilePic {
    width: 60%;
    height: auto;
    border: 5px solid white;
    text-align: center;

    position: relative;

    top: 25%;
    transform: translateY(-25%);
  }

  .mainInfo .info {
    width: 85%;
    height: auto;
    color: black;
    background-color: white;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    display: table;
    position: relative;
    padding-top: 10px;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .mainInfo .synopsis {
    width: 100%;
    text-align: left;

    float: left;
    padding-left: 30px;
    display: table-column;
  }

  .mainInfo .basicInfo {
    width: 100%;

    float: right;
    text-align: left;
    display: table-column;

    padding: 30px;
  }

  .mainInfo p {
    padding-left: 10px;
    margin-top: -5px;
  }



  .projects {
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: "Trebuchet MS";
    margin-top: 20px;
    display: table;
    background-color: white;
  }

  .projects h1 {
    margin-left: 30px;
    padding-top: 20px;
    color: black;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .projects .projectCell {
    margin-left: 30px;
    margin-bottom: 30px;
    width: 80%;
    color: white;
    background-color: #6E9BEA;
    border-radius: 10px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }




  .contactMe {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    width: 85%;
    font-family: "Trebuchet MS";
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .contactMe h1 {
    margin-left: 30px;
    padding-top: 20px;
    color: black;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contactMe input {
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    /**border-style: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);**/
    width: 80%;
  }

  .contactMe #descriptionInput {
    font-size: 20px;
    word-wrap: normal;
    width: 80%;
    height: 25%;
    top: 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    /**border-style: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);**/
  }

  .contactMe button {
    font-size: 20px;
    background-color: #6E9BEA;
    color: white;
    border-radius: 10px;
    bord
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    height: 5%;
  }



  .tutorials {
    width: 95%;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: "Trebuchet MS";
    margin-top: 50px;
    display: table;
    background-color: white;
  }

  .tutorials h1 {
    margin-left: 30px;
    padding-top: 20px;
    color: black;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .tutorials .projectCell {
    margin-left: 30px;
    margin-bottom: 30px;
    width: 80%;
    color: white;
    background-color: #6E9BEA;
    border-radius: 10px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }

  .tutorials a {
    text-decoration: none;
  }

  .tutorials a :hover {
    background-color: #6E9BFB;
  }

  .tutorialDoc {
    margin-left: 5%;
    margin-top: 30px;
  }

  iframe {
    position: absolute;
    width: 90%;
    height: 85%;
    align-content: center;
    border: none;
  }

  /* Style buttons */
  .btn {
    visibility: hidden;
    background-color: white;
    border: none;
    color: DodgerBlue;
    width: 200px;
    height: 85%;
    margin-left: 20px;
    padding-right: 50px;
    cursor: pointer;
    font-size: 20px;
    float: none;
    align-content: center;
  }

  /* Darker background on mouse-over */
  .btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }


}
